---
permalink: /portfolio
layout: page
title: Portfolio
description: Dizaina un web izstrādes portfolio
---
	<section class="page-content portfolio">
		<div class="page-width">
			<div class="medium-10 large-8">
				<header class="page-header">
					<p class="page-desc">Šis ir mans portfolio&mdash;digitālie un drukas dizaina darbi. Mana maize, mans virtuālais spogulis. Ja Tev patīk tas, ko Tu redzi, vai arī vēlies strādāt kopā, dod man zināt: <a href="mailto:m.mihailovs@gmail.com?Subject=Mārtiņ,%20man%20patīk%20tas,%20ko%20redzu">{{ site.owner.email }}</a></p>
				</header> <!-- Page header -->
			</div>
		</div> <!-- Page width -->
		<div class="page-width">
			<ul class="portfolio-list cfix">
				{% for project in site.categories.portfolio %}
				<li class="portfolio-item medium-6 large-4">
					<a href="{{ site.baseurl }}{{ project.url }}"><img src="{{ site.baseurl }}/img/portfolio/{{ project.thumb }}" alt="{{ project.title }}"></a>
					<div class="portfolio-item-meta">
						<h2 class="portfolio-item-title"><a href="{{ site.baseurl }}{{ project.url }}">{% if project.brand %}{{ project.brand }}{% else %}{{ project.title }}{% endif %}</a></h2>
						<p class="portfolio-item-tags">{{ project.tags | join: '. ' | append: "." }}</p>
					</div>
				</li>
				{% endfor %}
			</ul> <!-- Portfolio list -->
		</div> <!-- Page width -->
	</section> <!-- Page -->
	{% include project-footer.html %}
